body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    height: 400px;
    width: 500px;
    resize: none;
}


.task-name-desc{
    font-size: x-large;
}

h1 {
    color: blue;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: #f2f2f2;
}

td, th {
    text-align: center;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
}

td:nth-child(1) {
    width: 30%;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(3) {
    width: 20%;
}