<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
    <title>To-do list</title>
</head>
<body>
    <h1>Welcome to your To-do list {{username}}</h1>
    {% if tasks %}
        {% for task in tasks %}
            <div>{{task[0]}} {{task[1]}}</div>
        {% endfor %}
    {% else %}
        <div>No tasks yet...</div>
    {% endif %}
    <div>Add a task <a href="/addTask">here</a></div>
    <a href="/logout">Logout</a>
</body>
</html>