<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
    <title>To-do list</title>
</head>
<body>
    <h1>Welcome to your To-do list {{username}}</h1>
    {% if tasks %}
        <table>
            <tr>
                <th>Task name</th>
                <th>Task description</th>
                <th>Status</th>
            </tr>
            {% for task in tasks %}
            <tr id="raw">
                <td>{{ task[0] }}</td>
                <td>{{ task[1] }}</td>
                <td><input type="checkbox" id="cek" onclick="lineWrite(this)"></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>No tasks yet...</div>
    {% endif %}
    <div>Add a task <a href="/addTask">here</a></div>
    <a href="/logout">Logout</a>

    <script>
        function lineWrite(checkbox) {
            const row = checkbox.closest('tr');
            row.style.textDecoration = checkbox.checked ? 'line-through' : 'none';
        }
    </script>
</body>
</html>