<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to To-do list login!</h1>
    <div id="error-message" style="color: red; display: none;"></div>
    <div>Username:<input id="username"></div>
    <div>Password:<input id="password" type="password"></div>
    <button onclick="login()">Sign up</button>
    <div>Don't have an account? Sign up <a href="/signup">here</a>!</div>
    <script>

        function login() {
            const username = document.getElementById("username").value.trim();
            const password = document.getElementById("password").value.trim();
            const errorMessage = document.getElementById("error-message")

            $.ajax({
                url: "/login",
                type: "POST",
                data: {
                    username: username,
                    password: password
                },
                dataType: "json",
                success: function(response) {
                    if (response.success) {
                        window.location.href = "/";
                    } else {
                        errorMessage.textContent = response.error;
                        errorMessage.style.display = "block";
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error: ", xhr.responseText);
                    errorMessage.textContent = 'An error occurred. Try again.';
                    errorMessage.style.display = 'block';
                }
            })
        }
    </script>
</body>
</html>