<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list signup</title>
    <script src="jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>Welcome to your To-do list signup!</h1>
    <div>Username:<input id="username"></div>
    <div>Email:<input id="email"></div>
    <div>Password:<input id="password"></div>
    <a href="#" onclick="signup()">Sign up</a>
    <script>
        var username = document.getElementById("username")
        var email = document.getElementById("email")
        var password = password.getElementById("password")
    </script>
</body>
</html>