<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to your To-do list signup!</h1>
    <div id="error-message" style="color: red; display: none;"></div>
    <div>Username:<input id="username"></div>
    <div>Email:<input id="email"></div>
    <div>Password:<input id="password"></div>
    <button onclick="signup()">Sign up  </button>
    <script>
        function signup(){
            const username = document.getElementById("username")
            const email = document.getElementById("email")
            const password = document.getElementById("password")
            const errorMessage = document.getElementById("error-message")

            if (username === "" || password === ""){
                errorMessage.textContent = "Username and password are neccessary!";
                errorMessage.style.display = "block";
                return;
            }

            $.ajax({
                url: "/signup",
                type: "POST",
                data: {
                    username: username,
                    email: email,
                    password: password
                },
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        window.location.href = "/login"
                    } else {
                        errorMessage.textContent = response.error
                        errorMessage.style.display = "block"
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error: ", xhr.responseText)
                    errorMessage.textContent = 'An error occured. Try again.'
                    errorMessage.style.display = 'block'
                }
            })
        }
    </script>
</body>
</html>